*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;

}
#header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px 70px;
    background-color: rgb(206, 140, 206);
    box-shadow: 0px 5px 10px rgb(184, 105, 105);
    z-index: 999;
    position: sticky;
     top: 0;
     left: 0;
}
.logo{
    height: 30px;
}
.section-p1{
    padding:40px 80px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}


#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: rgb(0, 85, 255);
    transition:0.3s ease;
}


#navbar li a:hover,
navbar li a:active{
    color: rgb(112, 171, 122);
}

#navbar li a.active::after
#navbar li a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: aqua;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("https://cdn-blog.novoresume.com/articles/creative-resume-templates/bg.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 35% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
     align-items:flex-start;
     justify-content: center;
}

#hero button{
    background-image: url("");
    background-color: lightgreen;
    color: white;
    border: 0;
    box-shadow: 0px 5px 5px rgb(7, 233, 14);
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}


.explore{
    margin-bottom:300px ;
    margin-left: 900px;
}

#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgb(206, 83, 83);
    border: 1px solid coral;
    border-radius: 4px;
    margin: 15px 0;  

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px orangered;
}
#feature .fe-box h6{
    display: inline-block;
    padding:  9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: blueviolet;
    background-color: cadetblue;
}

#feature .fe-box img{
    width: 100px;
    height: 110px;
    margin-bottom: 10px;
}

.section-m1{
    margin: 40px 0;

}
 
#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px green;
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(6, 56, 6);
    
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: brown;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top:7px ;
    color: black;
    font-size: 14px;

}

#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: lawngreen;
} 

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:darkslateblue;
    font-weight: 500;
    color: darkcyan;
    border:1px solid red ;
    position: absolute;
    border: 20px;
    right: 10px;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner  h4{
    color: blue;
    font-size: 16px;
}

#banner  h4{
    color: aqua;
    font-size: 30px;
    padding: 10px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: antiquewhite;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s; 
}

#banner button:hover{
    background-color: pink;
    color: aqua;
}


#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:darkblue ;
}

#newsletter input{
    height: 3.125rem;
    padding:0 1.25rem ;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter button{
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {
    margin-bottom: 30px;
    
}
    
footer h4 { 
    font-size: 14px; 
    padding-bottom: 20px;
    
}
    
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: blue;
    padding-right: 4px;
    cursor: pointer;;
}

footer .install .row .img{
    border: 1px solid green;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: green;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

.sub-menu-1{
    display:none;
}

.hov{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.abc{
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: blue;
    transition:0.3s ease;
}

.sub-menu-1{
    position: absolute;
    margin-top: 0px;
    

}
.sub-menu-1 li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}


.sub-menu-1 li a{
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
  
    transition:0.3s ease;
}

.hov:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(242, 188, 241);
    margin-top: 2px;
    margin-left: 0px;
    transition: 0.02s;
}

.hov:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}


.hov:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 5px;
    border-bottom:1px dotted #fff ;
    background: transparent;
    border-radius: 0;
    text-align: left;

}


.hov:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}


.hov:hover .sub-menu-1 ul a:hover{
    color: rgb(169, 90, 145);
}

.fa-angle-right{
    float: right;
}


.sub-menu-2{
    display: none;
}


.hover-me:hover .sub-menu-2{
    
    display: block;
    position: absolute;
    margin-top: -30px;
    margin-left: 155px;
    background-color:rgb(242, 188, 241) ;
    transition: 0.02s;
}